@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
@*<h3>Site Admin.</h3>*@

@*<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    ###.###.####
</address>*@

<address>
    <strong>Support:</strong>   <a href="mailto:mmohoney@twinmproductions.net">mmohoney@twinmproductions.net</a><br />
</address>