@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Support:</strong>   <a href="mailto:mmohoney@twinmproductions.net">mmohoney@twinmproductions.net</a><br />
</address>