@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Twin M Productions [TMP]</h1>
    <p class="lead">Web App demoing some open source framework and UI tools.</p>
    <p><a href="https://github.com/mmohoney" class="btn btn-primary btn-lg">Source &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DbAppSettings</h2>
        <p>
            Easy to use global application settings that allow realizing setting value changes
            without recycling/ restarting the application. Customizable caching mechanisms
            and data source agnostic. Click the button to view a UI demo
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Maintenance", new { Area = "DbAppSettings"})">Show me &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>